// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,600&display=swap');

:root {
  --ion-font-family: 'Bree Serif', serif;
  --ion-color-primary: #df4839;
  --ion-color-primary-rgb: 223, 72, 57;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c43f32;
  --ion-color-primary-tint: #e25a4d;

  --ion-color-secondary: #4ca8b4;
  --ion-color-secondary-rgb: 76, 168, 180;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #43949e;
  --ion-color-secondary-tint: #5eb1bc;

  --ion-color-tertiary: #ee8434;
  --ion-color-tertiary-rgb: 238, 132, 52;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d1742e;
  --ion-color-tertiary-tint: #f09048;

  --ion-color-success: #96e6b3;
  --ion-color-success-rgb: 150, 230, 179;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #84ca9e;
  --ion-color-success-tint: #a1e9bb;

  --ion-color-warning: #fed766;
  --ion-color-warning-rgb: 254, 215, 102;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bd5a;
  --ion-color-warning-tint: #fedb75;

  --ion-color-danger: #fe4a49;
  --ion-color-danger-rgb: 254, 74, 73;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04140;
  --ion-color-danger-tint: #fe5c5b;

  --ion-color-dark: #001021;
  --ion-color-dark-rgb: 0, 16, 33;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000e1d;
  --ion-color-dark-tint: #1a2837;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
